@import "../../styles/mixins";

.extraction-container {
  display: flex;
  position: relative;
  border-radius: $border-radius;
  padding: 10px;
  width: 50%;
  margin: auto;
  .ui.dimmer {
    position: fixed;
  }
}
