@import "../../../styles/mixins";

.image-preview {
  background: white;
  border-radius: $border-radius;
  height: 35vw;
  position: relative;
  canvas {
    border-radius: $border-radius;
    height: 100%;
    margin: auto;
  }
  i.icon {
    cursor: pointer;
    position: absolute;
    right: 2% !important;
    top: 2%;
    color: $dark-grey;
    &.supported {
      color: white !important;
    }
  }

  .not-supported {
    height: 100%;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 28px;
      font-weight: 500px;
      text-align: center;
      color: $dark-grey;
    }
    i.icon {
      color: $dark-grey;
      position: unset;
    }
  }
}

@media (max-width: 500px) {
  .image-preview {
    height: 100vw;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .image-preview {
    height: 60vw;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .image-preview {
    height: 40vw;
  }
}
