@import "../../../styles/mixins";

.error-message {
  width: 30% !important;
  .header {
    i {
      color: $mindee-red;
    }
  }
  .content {
    display: flex !important;
    justify-content: center;
  }
}
